.graphContainer {
  width: 700px;
  height: 700px;
}
.customButton-blue {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #67c8e6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.customButton-blue:hover {
  background-color: #3e8e41;
}

.customButton-blue:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.customButton-red {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #eb1325;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.customButton-red:hover {
  background-color: #3e8e41;
}

.customButton-red:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.customButton-green {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #eb1325;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.customButton-green:hover {
  background-color: #3e8e41;
}

.customButton-green:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
